
  @import url('https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&family=Creepster&family=Press+Start+2P&display=swap');
*{
  box-sizing: border-boxs;
}

html, body {
  height: 100vh;
  width: 100vw;
  }


.App {
  text-align: center;
  background: #0c0c14;
  padding-left:80px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

.nav {
  background: #0c0c14;
height: 100vh;
left: 0;
position: fixed;
top: 0;
width: 80px;
}

.logo{
  color:white;
  font-size:40px ;
  background-color: rgb(194, 90, 220);
}

 .nav-pills .nav-link.active.menu-left, .nav-pills .show > .nav-link {
  background-color: #c25adc7a;
}
.nav-link.menu-left{
  border-radius: 0 !important;
  color: rgb(194, 90, 220);
  background-color:none !important ;
padding: 10px 0;
font-size: 1.5em;
border-bottom: 1px solid hsla(0,0%,100%,.1) !important;
}
.nav-link.menu-left:focus{
  color: white;
  background-color:#c25adc7a; 
}

.nav-link.menu-left:hover{
  color:white ;
  background-color: #c25adc7a;
}

.menuOnly{
  padding-bottom:45px ;
  padding-top:90px ;
  border-right: 1px solid hsla(0,0%,100%,.1);
}
.nav-link.menu-left.last{
  border-bottom:0 !important;
}


.headerTop{
  position: absolute;
  right:0 ;
  top:0 ;
  padding:30px 50px 0 ;
  width: 93.48%;
  z-index:4 ;
}
.info a:nth-child(2){
  margin-left: 40px;
}
.info a{
  text-decoration: none;
  color:white ;
}

.info a:hover{
  color: #c25adc;
}
.maincontent{
  background-color: #0c0c14 !important;
  overflow: hidden;
}

.row .profil-image{
  background:url(./images/crop-self.png) ;
  background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
position: absolute;
right: 0;
top: 0;
width: 50vw;
  
}

.container{
  margin: 40px 0;
}

.typebox{
  padding-bottom: 50px;
padding-top: 180px;
text-align: left;
color:white;
position: relative;
z-index: 6;
}

.typebox p{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight:400 ;
  font-size:18px ;
}
.typebox h6{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.typebox h1{
  font-family: 'Press Start 2P', cursive;
  font-size:30px ;
  
}

.typeboxCol{
  margin-left: 40px;
}

.px-btn{
  background-color:white !important;
  color: black !important;
}

.btn.px-btn.btn-white-btn.btn-white:hover{
  background-color: black !important;
  color: white !important;
  border:1px solid white !important;
  transform: translateY(-0.25em);
  transition: .8s !important;
  display:inline-block !important ;
  cursor: pointer !important;
  text-decoration: none !important;
  text-align: center !important;
  box-shadow: 0 0.5em 0.5em -0.4em ;

}

.job{
  font-family: "Roboto", sans-serif !important;
  border-right: 0.15em solid orange !important;
  animation: blink 0.75s step-end infinite !important;
  width: max-content !important;

}

.left-col-main{
  margin: 0 auto;
}

.image-self{
  max-width:358px ;
  max-height:358px ;
  border-radius:50% ;
  overflow: hidden;
  margin: auto;
  border: 6px solid #c25adc;
}
.image-self img{
  max-width: 100%;
  height: auto;
}

.bio{
  color:white ;
  overflow: hidden;
}

.info-list .row .col-sm-6 ul {
  list-style: none;
  padding-left: 0;
}

.info-list .row .col-sm-6 ul li label{
  font-weight: bold;
  padding-right:10px ;
}

.info-list .row .col-sm-6 ul li{
  padding-bottom:10px ;
}

.main-bio-txt{
  text-align: left;
  font-size: 15px;
  margin: 0 auto;
}

.bio-text{
  padding-bottom: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-size:20px ;
}

.bio-text h3{
  font-size: 35px;
  font-weight: bold;
  z-index:10;
  position: relative;
}

  .bio-text h3::before{
    background:rgb(194, 90, 220); 
    animation: slide-both-side 4s infinite both;
    animation-name: slide-both-side;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    -webkit-animation: slide-both-sidee 4s infinite both;
    
    border-radius: 50%;
content: "";
height: 45px;
position: absolute;
width: 45px;
z-index: -1;
top: -5px;
left: -5px;
opacity:0.7 ;
 }

 .about-me{
  position: relative;
 }

 .social-nav{
  left: 0;
position: relative;
right: 0;
z-index: 2;
bottom: 20px;
 }

 .social-nav a{
  border: 2px solid #fff;
border-radius: 50%;
color: white;
background-color:black ;
height: 35px;
line-height: 31px;
margin: 0 5px;
position: relative;
text-align: center;
-webkit-transform: scale(1);
transform: scale(1);
transition: all .35s ease;
width: 35px;
display: inline-block;
 }

 .about-me-info{
  margin-top:10px;
 }

 .social-nav a:nth-child(2n+1) {
 top: -8px;}

 .social-nav a:hover{
  background: rgb(194, 90, 220);
color: #fff;
-webkit-transform: scale(1.1);
transform: scale(1.1);
 }

 .seperator{
  background-image:url(./images/SEPERATOR-3.png) ;
  background-position: 50%;
background-repeat:no-repeat;
background-size: auto 55px;
padding-bottom: 60px;
padding-top: 60px;
 }

 .title-experience{
  color: white;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom:80px ;
 }

 .title-experience h3{
  font-size: 35px;
font-weight: bold;
z-index: 10;
position: relative;
text-align: left;
  
 }

.text-p-work p{
  font-family: 'Cormorant Garamond', serif;
font-size: 16px;
}

 .title-experience h3::before{
  background: #c25adc;
  -webkit-animation: slide-both-sidee 4s infinite both;
border-radius: 50%;
content: "";
height: 45px;
position: absolute;
width: 45px;
z-index: -1;
top: -5px;
left: -5px;
opacity: 0.7;

 }

 .experience-box{
  color: white; 
 }
 
 .since{
  background: rgb(194, 90, 220);
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 12px;
font-weight: 700;
padding: 13px 20px;
 }
 .roe{
  padding-top:11px ;
  padding-bottom: 11px;
  margin-bottom:13px ;
  background:#1f2224 ;
  height:150px ;
 }
 .roe1{
  padding-top:11px ;
  padding-bottom: 11px;
  margin-bottom:13px ;
  background:#1f2224  ;
  height:150px ;
 }
 .roe2{
  padding-top:11px ;
  padding-bottom: 11px;
  margin-bottom:13px ;
  background:#1f2224 ;
  height:150px ;
 }
 .roe3{
  padding-top:11px ;
  padding-bottom: 11px;
  margin-bottom:13px ;
  background:#1f2224  ;
  height:150px ;
 }

 .resume{
  overflow: hidden;
 }
 

 .title-education {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 80px;}

  .title-education h3 {
    font-size: 35px;
    font-weight: bold;
    z-index: 10;
    position: relative;
    text-align: left;}

    .title-education h3::before {
      background: #c25adc;
      -webkit-animation: slide-both-sidee 4s infinite both;
      border-radius: 50%;
      content: "";
      height: 45px;
      position: absolute;
      width: 45px;
      z-index: -1;
      top: -5px;
      left: -5px;
      opacity: 0.7;}

      .education-list{
        list-style: none;
        color:white ;
        padding-left: 5px;
        background: #1f2224;
        padding: 50px 25px;
        text-align: left;
      }

      .main-progress h6 {
        line-height: 1.5;
      }

      .main-progress{
        display: flex;
        margin: 40px 0;
      }

      .skills-main{
        margin: 0 auto !important;
      }


      .skills{
        color:white ;
      }

      .counter{
        padding: 0 15px ;
      }

      .skill-bar{
        width:100%;
        height: 20px;
        background-color:gray ;
        border-radius:10px ;
        justify-content: stretch;
        overflow: hidden;
        display: flex;
      }

      .sk-bar-in{
        background-color: #c25adc;
        
      }

      

      .main-mas{
       height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: hidden;

      }

      .details{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
       background-color: black;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       margin: 0 auto;
       overflow: hidden;

      }

      .details h1{
        color: white;
        font-family: "Roboto", sans-serif;
      }

      .circle {
        width: 500px;
        border-radius: 100%;
        height: 500px
      
      }

      .btn-masonry{
        border-radius: 50%;
        background-color: #c25adc;
        color: rgb(73, 242, 214);
        border: #c25adc;
        width:50px ;
        height:50px ;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 50;
      }

      .circle h3{
        color:  rgb(73, 242, 214);
      }

      .col-lg-4.m-15px h4{
        color: white;
        font-size:25px ;
        text-align: left;
      }

    .col-lg-4.m-15px p{
      color: white;
      font-size: 20px;
     font-family: 'Cormorant Garamond', serif;
     text-align: left;
    }

    #contact{
      padding-bottom: 70px;
    }

    .contact-list{
      color: white;
      list-style:none ;
      text-align: left;
      padding-left: 0;
    }

    .contact-list li{
      padding-bottom:5px ;
    }

    .contact-list li span{
      padding-right: 5px;
    }

    .map-container{
      position: relative;
width: 100%;
height: 100%;
overflow: hidden;
    }

    footer{
      height: 18vh;
      position: relative;
    }

    .copyright{
font-size: 15px;
color:white ;
position: absolute;
bottom: 0;
margin: 0 auto;
width: 100%;
    }

    footer hr{
      color: gray;
    }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

 /*media queries */

 @media only screen and (min-width: 1400px){
  .container{
    max-width:1140px;
  }
 }

 @media only screen and (min-width: 1200px){
  .container{
    max-width:1077px !important;
  }
 }

 @media only screen and (min-width: 1100px){
  .container{
    max-width:1074px !important;
  }
 }

 @media only screen and (max-width: 1000px){
  
  .row .profil-image{
    opacity: 0.3;
    width:100% ;
  }

  .typeboxCol{
    margin: auto;
  }

  .container{
    margin: 60px 0;
  }
 }


 @media only screen and (max-width: 767px){
  .typebox{
    padding-top: 130px;
    padding-bottom:30px ;
  }

  .roe{
    height: auto;
  }
  .roe1{
    height: auto;
  }
  .roe2{
    height: auto;
  }
  .roe3{
    height: auto;
  }

  .col-6.col-sm-4{
    width:100% ;
  }

  .col-6.col-md-8.col-sm-4{
    width: 80%;
    margin: auto;
  }

  .row .col-sm-6  {
    flex: 0 0 auto;
    width: 100% !important;
    padding-top: 20px;}

    .col-6.col-md-4.left-col-main {
      width: 100%;
      margin-top: 20%;
    }

    .col-lg-7.skills-main{
      width:80% ;
    }

 }
 


 @media only screen and (max-width: 576px){
  .typebox{
    padding-top: 130px;
    padding-bottom:30px ;
  }

 

 }

 @media only screen and (max-width: 1000px){
  .map-container{
    position: absolute;
overflow: hidden;
height: 20vh;
width: 76%;

  }
 }

 @media only screen and (max-width: 767px){
  .map-container{
    position: absolute;
overflow: hidden;
height: 20vh;
width: 76%;

  }
 }

 @media only screen and (max-width: 576px){
  .map-container{
    position: absolute;
overflow: hidden;
height: 20vh;
width: 76%;

  }
 }



 

