
  @import url('https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&family=Creepster&family=Press+Start+2P&display=swap');
*{
  box-sizing: border-boxs;
}


.App {
  text-align: center;
  background: #0c0c14;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

.nav {
  background: #0c0c14;
height: 100vh;
left: 0;
position: fixed;
top: 0;
width: 80px;
}

.logo{
  color:white;
  font-size:40px ;
  background-color: rgb(194, 90, 220);
}

 .nav-pills .nav-link.active.menu-left, .nav-pills .show > .nav-link {
  background-color: #c25adc7a;
}
.nav-link.menu-left{
  border-radius: 0 !important;
  color: rgb(194, 90, 220);
  background-color:none !important ;
padding: 10px 0;
font-size: 1.5em;
border-bottom: 1px solid hsla(0,0%,100%,.1) !important;
}
.nav-link.menu-left:focus{
  color: white;
  background-color:#c25adc7a; 
}

.nav-link.menu-left:hover{
  color:white ;
  background-color: #c25adc7a;
}

.menuOnly{
  padding-bottom:45px ;
  padding-top:90px ;
  border-right: 1px solid hsla(0,0%,100%,.1);
}
.nav-link.menu-left.last{
  border-bottom:0 !important;
}

.maincontent{
  overflow: hidden;
}
.headerTop{
  position: absolute;
  right:0 ;
  top:0 ;
  padding:30px 50px 0 ;
  width: 93.48%;
  z-index:4 ;
}
.info a:nth-child(2){
  margin-left: 40px;
}
.info a{
  text-decoration: none;
  color:white ;
}

.info a:hover{
  color: #c25adc;
}
.maincontent{
  background-color: #0c0c14 !important;
}

.profil-image{
  background:url(./images/crop-self.png) ;
  background-position: 0 0;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
position: absolute;
right: 0;
top: 0;
width: 50vw !important;
  
}

.container{
  margin: 40px 0;
}

.typebox{
  padding-bottom: 50px;
padding-top: 180px;
text-align: left;
color:white;
}

.typebox p{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight:400 ;
  font-size:18px ;
}
.typebox h6{
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.typebox h1{
  font-family: 'Press Start 2P', cursive;
  font-size:30px ;
  
}

.typeboxCol{
  margin-left: 40px;
}

.px-btn{
  background-color:white !important;
  color: black !important;
}

.btn.px-btn.btn-white-btn.btn-white:hover{
  background-color: black !important;
  color: white !important;
  border:1px solid white !important;
  transform: translateY(-0.25em);
  transition: .8s !important;
  display:inline-block !important ;
  cursor: pointer !important;
  text-decoration: none !important;
  text-align: center !important;
  box-shadow: 0 0.5em 0.5em -0.4em ;

}

.job{
  font-family: "Roboto", sans-serif !important;
  border-right: 0.15em solid orange !important;
  animation: blink 0.75s step-end infinite !important;
  width: max-content !important;

}

.left-col-main{
  margin: 0 auto;
}

.image-self{
  max-width:358px ;
  max-height:358px ;
  border-radius:50% ;
  overflow: hidden;
  margin: auto;
  border: 6px solid #c25adc;
}
.image-self img{
  max-width: 100%;
  height: auto;
}

.bio{
  color:white ;
  overflow: hidden;
}

.info-list .row .col-sm-6 ul {
  list-style: none;
  padding-left: 0;
}

.info-list .row .col-sm-6 ul li label{
  font-weight: bold;
  padding-right:10px ;
}

.info-list .row .col-sm-6 ul li{
  padding-bottom:10px ;
}

.main-bio-txt{
  text-align: left;
  font-size: 15px;
  margin: 0 auto;
}

.bio-text{
  padding-bottom: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-size:20px ;
}

.bio-text h3{
  font-size: 35px;
  font-weight: bold;
  z-index:10;
  position: relative;
}

  .bio-text h3::before{
    background:rgb(194, 90, 220); 
    animation: slide-both-side 4s infinite both;
    animation-name: slide-both-side;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
    -webkit-animation: slide-both-sidee 4s infinite both;
    
    border-radius: 50%;
content: "";
height: 45px;
position: absolute;
width: 45px;
z-index: -1;
top: -5px;
left: -5px;
opacity:0.7 ;
 }

 .about-me{
  position: relative;
 }

 .social-nav{
  left: 0;
position: relative;
right: 0;
z-index: 2;
bottom: 20px;
 }

 .social-nav a{
  border: 2px solid #fff;
border-radius: 50%;
color: white;
background-color:black ;
height: 35px;
line-height: 31px;
margin: 0 5px;
position: relative;
text-align: center;
-webkit-transform: scale(1);
transform: scale(1);
transition: all .35s ease;
width: 35px;
display: inline-block;
 }

 .about-me-info{
  margin-top:10px;
 }

 .social-nav a:nth-child(2n+1) {
 top: -8px;}

 .social-nav a:hover{
  background: rgb(194, 90, 220);
color: #fff;
-webkit-transform: scale(1.1);
transform: scale(1.1);
 }

 .seperator{
  background-image:url(./images/SEPERATOR-3.png) ;
  background-position: 50%;
background-repeat:no-repeat;
background-size: auto 55px;
padding-bottom: 80px;
padding-top: 80px;
 }
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

 /*media queries */

 @media only screen and (min-width: 1400px){
  .container{
    max-width:1140px;
  }
 }

 @media only screen and (min-width: 1200px){
  .container{
    max-width:1077px !important;
  }
 }

 @media only screen and (min-width: 1100px){
  .container{
    max-width:1074px !important;
  }
 }



 

